.skills {
    background-color:#F1FAFD;
    border-radius: 15px;
    padding-bottom: 50px;
    padding-top: 5px;
}
.skills-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 75px;
}
.skills-front {
    display: flex;

}
.skills-content {
    height: 100px;
    width: 100px;
}

.skills-logo {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

@media (max-width: 767.98px) {
    .skills-front {
        flex-wrap: wrap;
    }
}