.about-me {
    background-color:#F1FAFD ;
    border-radius: 15px;
    padding-bottom: 50px;
    padding-top: 5px;
}
.about-me-content {
    display: flex;
    margin: 0 50px;
}
.about-me-pic {
    width: 250px ;
    height: 250px;
    padding: 0 35px;
    
}
.about-me-description {
    max-width: 700px;
    padding: 0 35px;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.about-me-description a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

@media (max-width: 767.98px) {
    .about-me-content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767.98px) {
    .about-me-content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1024px ) {
    .about-me-content {
        flex-direction: column;
        align-items: center;
    }
}
