.projects-title {
    text-align: right;
}
.projects-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px 50px;
}

@media (max-width: 767.98px) {
    .projects-content {
        padding: 10px;
    }
}


