@import url('https://fonts.googleapis.com/css2?family=Ledger&family=Nanum+Gothic+Coding&display=swap');

body {
  max-width: 1440px;
  color: #1C2024;
  margin: auto;
  font-family: "Nanum Gothic Coding", monospace;
  background-color: #FBFDFF;
}
h1, h2, h3{
  font-family: "Ledger" , serif;
  color: #0d60c8;
}
h2 {
  font-size: 30px;
  padding: 0 50px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
a {
  text-decoration: none;
}


