@import url('https://fonts.googleapis.com/css2?family=Ledger&family=Nanum+Gothic+Coding&display=swap');

body {
  width: 1440px;
  color: #1C2024;
  margin: auto;
  font-family: "Nanum Gothic Coding", monospace;
  background-color: #FBFDFF;
}
h1, h2, h3{
    font-family: "Ledger" , serif;
    color: #113264;
}
h1 {
  padding: 0 90px;
}
h2 {
  font-size: 30px;
  padding: 0 50px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
a {
  text-decoration: none;
  color:#1C2024;
  width: 155px;
  background-color: #A9DAED;
  text-align: center;
  padding: 10px 0;
  border-radius: 50px;
}
a:hover {
  background-color: #113264;
  color: white;
}
