.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: #A9DAED;
    padding: 0 0 0 30px;
}
.tilte-name {
    height: 50px;
}
nav {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}
.link-nav {
    text-decoration: none;
    padding: 35px 15px;
    color: black;
}
.link-nav:hover {
    background-color: #0d60c8;
    color: white;
}
