.work-info {
    display: flex;
    flex-direction: column;
    width: 750px;
}
.work-skills {
    display: flex;
}
.work-skill-image {
    width: 100px;
    height: 100px;
}
.image-logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
}