.slider {
    position: relative;
    width: 400px;
    height: 300px;
    border-radius: 25px;
    
}
.slider-image {
    object-fit: cover;
    height: 95%;
    width: 95%;
    position : absolute;
    left :0;
    top:0;
}
.slider-image-hidden {
    display: none;
}
@media (max-width: 767.98px) {
    .slider {
        height: 280px;
        width: 300px;
        padding-left: 10px;
    }
}